<md-list-item class="md-2-line">
  <div class="md-list-item-text" flex layout-padding flex ng-if="!ctrl.isEditing">
    <h1>&nbsp;&nbsp;{{ flight.origin.code }} /<!-- <i class="material-icons">&#xE5C8;</i>--> {{ flight.destination.code }}</h1>
  </div>
  <div class="md-list-item-text" flex layout-padding ng-if="!ctrl.isEditing">
    <p> {{ flight.origin.name }} </p>
    <p> {{ flight.destination.name }} </p>
  </div>
  <div class="md-list-item-text" flex layout-padding layout="row" ng-if="!ctrl.isEditing">
    <h1> {{ flight.airline }} </h1>
    <md-button class="md-primary" ng-click="ctrl.startEdit()">Edit</md-button>
  </div>

  <div class="md-list-item-text" layout="column" flex layout-padding ng-if="ctrl.isEditing">
    <md-input-container flex>
      <label>Origin</label>
      <md-select ng-model="flight.origin">
        <md-option ng-repeat="port in ctrl.airports" value={{port}}>{{port.name}} ({{port.code}})</md-option>
      </md-select>
    </md-input-container>
    <md-input-container flex>
      <label>Departure time</label>
      <input type="datetime-local" required ng-model="ctrl.departureTime">
    </md-input-container>
  </div>
  <div class="md-list-item-text" layout="column" layout-padding ng-if="ctrl.isEditing">
    <md-input-container flex>
    <label>Destination</label>
      <md-select ng-model="ctrl.destinationAirport">
        <md-option value="{{port}}" ng-repeat="port in ctrl.airports">{{port.name}} ({{port.code}})</md-option>
      </md-select>
    </md-input-container>
    <md-input-container flex>
      <label>Arrival time</label>
      <input type="datetime-local" required ng-model="ctrl.arrivalTime">
    </md-input-container>
  </div>
  <div class="md-list-item-text" layout-padding ng-if="ctrl.isEditing">
    <md-input-container flex>
      <label>Airline</label>
      <input ng-model="ctrl.airline">
    </md-input-container>
    <md-button class="md-primary center" flex ng-click="ctrl.saveChanges()" style="width:90%">Save </md-button>
  </div>
</md-list-item>