<md-toolbar>
  <!-- default top bar, not logged in, not trying to login -->
  <div class="md-toolbar-tools" layout-margin ng-if="ctrl.getState() === 'default'">
    <span flex> {{ ctrl.brandname }} </span>
    <md-button ng-click="ctrl.showLoginControls()">Login</md-button>
    <md-button ng-click="ctrl.register()">Register</md-button>
  </div>

  <!-- login via top bar -->
  <div class="md-toolbar-tools" layout-margin ng-if="ctrl.getState() === 'login'">
    <md-button class="md-icon-button" aria-label="Go back" ng-click="ctrl.hideLoginControls()">
      <md-icon class="material-icons">arrow_back</md-icon>
    </md-button>
    <md-input-container md-theme="dark" flex>
      <label>Email</label>
      <input class="white-text" type="email" ng-model="ctrl.email" >
    </md-input-container>
    <md-input-container flex>
      <label>Password</label>
      <input class="white-text" type="password" ng-model="ctrl.password">
    </md-input-container>
    <md-button class="md-icon-button" aria-label="Login" ng-click="ctrl.login()">
      <md-icon class="material-icons">lock_open</md-icon>
    </md-button>
  </div>

  <!-- Logged in, show basic profile info -->
  <div class="md-toolbar-tools" layout-margin ng-if="ctrl.getState() === 'logged-in'">
    <span flex> {{ ctrl.brandname }} </span>

    <a ui-sref="profile({ userId: ctrl.getCurrentUser()._id })">{{ ctrl.getCurrentUser().firstname }} {{ ctrl.getCurrentUser().lastname }}</a>
    <md-button class="md-icon-button" aria-label="Logout" ng-click="ctrl.logout()">
      <md-icon class="material-icons">exit_to_app</md-icon>
    </md-button>
  </div>
</md-toolbar>