<section class="layout-align-center-center layout-row">
  <md-button class="md-primary" ng-click="sveCtrl.goBack()" ng-disabled="sveCtrl.isEditing">back</md-button>
  <md-button class="md-primary" ng-if="!sveCtrl.isEditing" ng-click="sveCtrl.edit()">modify</md-button>
  <md-button class="md-primary" ng-if="sveCtrl.isEditing" ng-click="sveCtrl.saveChanges()">save</md-button>
  <md-button class="md-primary" ng-if="sveCtrl.isEditing" ng-click="sveCtrl.cancelChanges()">cancel</md-button>
  <md-button class="md-primary" ng-if="!sveCtrl.isEditing" ng-disabled="true">delete</md-button>
</section>

<div class="story-view" ng-if="!sveCtrl.isEditing">
  <h1 class="story-title">{{ sveCtrl.trip.destination.name }}</h1>
  <span class="story-dates">{{ sveCtrl.trip.startDate | date : "dd.MM.yyyy"}} - {{ sveCtrl.trip.endDate | date : "dd.MM.yyyy"}}</span>
  <md-divider></md-divider>
  <div marked="sveCtrl.trip.storyMarkdown"></div>
</div>

<div layout-padding ng-if="sveCtrl.isEditing">
  <md-autocomplete flex
    md-selected-item="sveCtrl.trip.destination"
    md-search-text="sveCtrl.destinationSearch.text"
    md-items="item in sveCtrl.destinationSearch.query(sveCtrl.destinationSearch.text)"
    md-item-text="item.name"
    md-min-length="4"
    placeholder="Your destination">
    <md-item-template>
      <span md-highlight-text="sveCtrl.destinationSearch.text" md-highlight-flags="^i">{{item.name}}</span>
    </md-item-template>
    <md-not-found>
      No states matching destination found...
    </md-not-found>
  </md-autocomplete>

  <div layout="row">
    <md-datepicker flex ng-model="sveCtrl.trip.startDate" md-placeholder="Start date"></md-datepicker>
    <md-datepicker flex ng-model="sveCtrl.trip.startDate" md-placeholder="Start date"></md-datepicker>
  </div>

  <md-input-container class="md-block">
    <label>Story (formatted in Markdown)</label>
    <textarea rows="10" class="markdown-content-editor" ng-model="sveCtrl.trip.storyMarkdown"></textarea>
  </md-input-container>
</div>