<section class="layout-align-center-center layout-row">
  <md-button class="md-primary" ng-click="sveCtrl.goBack()" ng-disabled="sveCtrl.isEditing">back</md-button>
  <md-button class="md-primary" ng-if="!sveCtrl.isEditing" ng-click="sveCtrl.edit()">modify</md-button>
  <md-button class="md-primary" ng-if="sveCtrl.isEditing" ng-click="sveCtrl.saveChanges()">save</md-button>
  <md-button class="md-primary" ng-if="sveCtrl.isEditing" ng-click="sveCtrl.cancelChanges()">cancel</md-button>
  <md-button class="md-primary" ng-if="!sveCtrl.isEditing" ng-disabled="true">delete</md-button>
</section>

<div class="story-view" ng-if="!sveCtrl.isEditing">
  <h1 class="story-title">{{ sveCtrl.trip.destination.name }}</h1>
  <span class="story-dates">{{ sveCtrl.trip.dates.start | date : "dd.MM.yyyy"}} - {{ sveCtrl.trip.dates.end | date : "dd.MM.yyyy"}}</span>
  <md-divider></md-divider>
  <div marked="sveCtrl.trip.storyMarkdown"></div>
</div>

<div class="story-editor" layout-padding ng-if="sveCtrl.isEditing">
  <md-autocomplete flex layout-margin
    md-selected-item="sveCtrl.trip.destination"
    md-search-text="sveCtrl.destinationSearch.text"
    md-items="item in sveCtrl.destinationSearch.query(sveCtrl.destinationSearch.text)"
    md-item-text="item.name"
    md-min-length="4"
    placeholder="Your destination">
    <md-item-template>
      <span md-highlight-text="sveCtrl.destinationSearch.text" md-highlight-flags="^i">{{item.name}}</span>
    </md-item-template>
    <md-not-found>
      No states matching destination found...
    </md-not-found>
  </md-autocomplete>

  <div layout="row" layout-margin>
    <md-datepicker flex ng-model="sveCtrl.trip.dates.start" md-placeholder="Start date"></md-datepicker>
    <md-datepicker flex ng-model="sveCtrl.trip.dates.end"   md-placeholder="End date"></md-datepicker>
  </div>

  <md-divider></md-divider>

  <md-list>
    <md-subheader layout-padding>
      Story images
      <md-button
        class="md-icon-button"
        aria-label="Upload"
        ng-model="sveCtrl.upload.image"
        ngf-select="sveCtrl.uploadImage(sveCtrl.upload.image)"
        ngf-keep="false"
        ngf-multiple="false"
        ngf-max-size="5MB">
        <md-icon class="material-icons">add</md-icon>
      </md-button>
      <md-progress-linear md-mode="determinate" value="{{ sveCtrl.upload.progress }}"></md-progress-linear>
    </md-subheader>
    <md-list-item class="md-1-line" ng-repeat="image in sveCtrl.trip.images">
      <img ng-src="/trip/img/{{ image }}" class="md-avatar" />
      <div class="md-list-item-text" layout="row">
        <h3 flex>{{ image }}</h3>
        <md-button class="right-control md-icon-button" ng-click="sveCtrl.deleteImage(image, $index)">
          <md-icon class="material-icons">delete</md-icon>
        </md-button>
      </div>
    </md-list-item>
  </md-list>

  <md-divider></md-divider>

  <md-input-container class="md-block" layout-padding>
    <label>Story (formatted in Markdown)</label>
    <textarea rows="10" class="markdown-content-editor" ng-model="sveCtrl.trip.storyMarkdown"></textarea>
  </md-input-container>
</div>