<md-list ng-show="fliCtrl.selectedTrip == null">
  <md-list-item class="md-2-line" layout="row" ng-repeat="trip in fliCtrl.trips">
    <div class="md-list-item-text">
      <h1>trip.destination</h1>
    </div>
    <div class="md-list-item-text">
      <p>{{ trip.departureDate | date : "dd.MM.yyyy"}} -- {{ trip.departureDate | date : "dd.MM.yyyy"}}</p>
    </div>
  </md-list-item>
</md-list>

<div ng-show="fliCtrl.selectedTrip != null">
  <h1>{{ fliCtrl.selectedTrip.destination }}</h1>
  <p>{{ fliCtrl.selectedTrip.departureDate | date : "dd.MM.yyyy"}} -- {{ fliCtrl.selectedTrip.departureDate | date : "dd.MM.yyyy"}}</p>
  <div marked="fliCtrl.selectedTrip.storyMarkdown"></div>
</div>