<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>My AngularJS App</title>

  <link rel="stylesheet" type="text/css" href="libs/angular-material/angular-material.min.css" async>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" async>

  <style type="text/css">
    .angular-google-map-container { height: 400px; }
    md-input-container { width: 100%; }
    .sub { vertical-align: sub; }
  </style>
</head>
<body ng-controller="someCtrl as sc">
<ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options">
  <ui-gmap-polyline ng-repeat="flight in flights"
                    path='[flight.origin.coordinates, flight.destination.coordinates]'
                    geodesic='true'>
  </ui-gmap-polyline>
</ui-gmap-google-map>


<div layout="row" layout-padding>

<div flex="20"></div>

<div flex="grow" class="md-whiteframe-z1">
  <md-list layout-padding>
    <flight-list-item ng-repeat="flight in flights" flight="flight"></flight-list-item>
  </md-list>
</div>

<div flex="20"></div>

</div>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script type="text/javascript" src="libs/angular/angular.js"></script>
<script type="text/javascript" src="libs/angular-route/angular-route.js"></script>
<script type="text/javascript" src="libs/lodash/lodash.min.js" ></script>

<script type="text/javascript" src="libs/angular-messages/angular-messages.js"></script>
<script type="text/javascript" src="libs/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="libs/angular-aria/angular-aria.js"></script>
<script type="text/javascript" src="libs/angular-simple-logger/dist/angular-simple-logger.js" ></script>
<script type="text/javascript" src="libs/angular-google-maps/dist/angular-google-maps.js"></script>
<script type="text/javascript" src="libs/angular-material/angular-material.js"></script>

<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="main.js"></script>
<script type="text/javascript" src="airports.service.js"></script>
<script type="text/javascript" src="components/flight-list-item.directive.js"></script>
</body>
</html>
