<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>My AngularJS App</title>

  <link rel="stylesheet" type="text/css" href="libs/angular-material/angular-material.min.css" async>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" async>
  <link rel="stylesheet" type="text/css" href="style/main.css" async>
</head>
<body layout="row" ng-controller="BadCtrl as badCtrl">

<md-content class="sidebar md-whiteframe-6dp" flex="33">
  <div class="top-profile" layout-padding>
    <img src="http://placehold.it/350x150">
    <div class="feature-box">
      <h1>Lukas Faber</h1>
    </div>
  </div>
  <br>

  <section class="layout-align-center-center layout-row" ng-if="badCtrl.selectedTripIndex == null">
    <md-button class="md-primary">add trip</md-button>
  </section>

  <md-list layout-padding ng-if="badCtrl.selectedTripIndex == null">
    <md-list-item ng-repeat="trip in badCtrl.trips" ng-click="badCtrl.selectTrip($index)">
      <span class="trip-destination">{{ trip.destination.name }}</span>
      <span class="trip-duration">{{ trip.startDate | date : "dd.MM.yyyy" }} -- {{ trip.endDate | date : "dd.MM.yyyy" }}</span>
    </md-list-item>
  </md-list>

  <story-view-editor trip-id="badCtrl.selectedTripIndex" ng-if="badCtrl.selectedTripIndex != null"></story-view-editor>
</md-content>

<ui-gmap-google-map center="badCtrl.map.center" zoom="badCtrl.map.zoom" options="badCtrl.map.options" flex>
</ui-gmap-google-map>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script type="text/javascript" src="libs/angular/angular.js"></script>
<script type="text/javascript" src="libs/angular-route/angular-route.js"></script>
<script type="text/javascript" src="libs/lodash/lodash.min.js" ></script>

<script type="text/javascript" src="libs/marked/lib/marked.js"></script>
<script type="text/javascript" src="libs/angular-marked/dist/angular-marked.js"></script>

<script type="text/javascript" src="libs/angular-messages/angular-messages.js"></script>
<script type="text/javascript" src="libs/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="libs/angular-aria/angular-aria.js"></script>
<script type="text/javascript" src="libs/angular-simple-logger/dist/angular-simple-logger.js" ></script>
<script type="text/javascript" src="libs/angular-google-maps/dist/angular-google-maps.js"></script>
<script type="text/javascript" src="libs/angular-material/angular-material.js"></script>

<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="bad-ctrl.js"></script>
<script type="text/javascript" src="trips.service.js"></script>
<script type="text/javascript" src="components/story-view-editor.directive.js"></script>
</body>
</html>
