<md-list layout-padding>
  <md-list-item class="md-sticky md-2-line">
    <img class="md-avatar profile-image"
         ng-src="/img/{{ profileCtrl.getCurrentProfile().image }}"
         ng-if="profileCtrl.getCurrentProfile().image !== null"/>
    <h1 class="profile-name"><i class="profile-avatar material-icons">person</i></h1>
    <div class="md-list-item-text" layout="column">
      <h1 class="profile-name">{{ profileCtrl.getCurrentProfile().firstname }} {{ profileCtrl.getCurrentProfile().lastname }}</h1>
      <p class="profile-caption">
        {{ profileCtrl.getCurrentProfileTrips().length }} TRIP<span ng-if="profileCtrl.getCurrentProfileTrips().length > 1">S</span>
        <md-button aria-label="Add trip" ng-if="profileCtrl.canEdit()" ng-click="profileCtrl.addTrip()">add one</md-button>
      </p>
    </div>
  </md-list-item>
  <md-list-item ng-repeat="trip in profileCtrl.getCurrentProfileTrips()"
                ng-click="profileCtrl.openTrip(trip._id)">
    <h3 class="story-title">{{ trip.destination.name }}</h3>
    <span class="story-dates">{{ trip.dates.start | date : "dd.MM.yyyy" }} - {{ trip.dates.end | date : "dd.MM.yyyy" }}</span>
    <md-icon class="md-secondary material-icons" aria-label="Delete trip" ng-click="profileCtrl.deleteTrip(trip._id)" ng-if="profileCtrl.canEdit()">delete</md-icon>
  </md-list-item>
</md-list>