<div layout-align="center center" layout="row" flex>
  <form role="form" name="registration" novalidate="" layout="column" flex="70">
    <div layout="row">
      <md-input-container flex>
        <label>First name</label>
        <input name="firstname" required ng-model="ctrl.user.firstname">
      </md-input-container>
      <md-input-container flex>
        <label>Last Name</label>
        <input name="lastname" required ng-model="ctrl.user.lastname">
      </md-input-container>
    </div>
    <md-input-container flex>
      <label>E-Mail Address</label>
      <input name="email" type="email" required ng-model="ctrl.user.email">
    </md-input-container>
    <md-input-container flex>
      <label>Password</label>
      <input name="password" type="password" required ng-model="ctrl.user.password">
    </md-input-container>

    <md-checkbox required name="isnorobot" class="md-primary" aria-label="Are you not a robot?" ng-model="ctrl.isNoRobot">
      I am not a robot
    </md-checkbox>

    <md-button class="md-primary" ng-disabled="registration.$invalid" ng-click="ctrl.register()">Register</md-button>
  </form>
</div>
