<section class="layout-align-center-center layout-row">
  <md-button class="md-primary" ng-click="tripCtrl.goBack()" ng-disabled="tripCtrl.isEditing">back</md-button>
  <md-button class="md-primary" ng-if="!tripCtrl.isEditing && tripCtrl.canEdit()" ng-click="tripCtrl.edit()">modify</md-button>
  <md-button class="md-primary" ng-if="tripCtrl.isEditing  && tripCtrl.canEdit()" ng-click="tripCtrl.saveChanges()">save</md-button>
  <md-button class="md-primary" ng-if="tripCtrl.isEditing  && tripCtrl.canEdit()" ng-click="tripCtrl.cancelChanges()">cancel</md-button>
  <md-button class="md-primary" ng-if="!tripCtrl.isEditing && tripCtrl.canEdit()" ng-disabled="true">delete</md-button>
</section>

<div class="story-view" ng-if="!tripCtrl.isEditing">
  <h1 class="story-title">{{ tripCtrl.trip.destination.name }}</h1>
  <span class="story-dates">{{ tripCtrl.trip.dates.start | date : "dd.MM.yyyy"}} - {{ tripCtrl.trip.dates.end | date : "dd.MM.yyyy"}}</span>
  <md-divider></md-divider>
  <div marked="tripCtrl.trip.storyMarkdown"></div>
</div>

