html,body
  height 100%

.angular-google-map-container
  height 100vh

.bottom-right
  position fixed
  right 23px
  bottom 23px

.sidebar
  z-index 90
  width 600px !important
  max-width none
  background-color #ffffff

.top-profile img
  border-radius 50%
  height 150px
  width 150px

.feature-box
  display inline-block
  position absolute
  padding-left 2em

.feature-box h1
  font-weight 100
  margin 0
  line-height 150px

@import "style-view-editor.styl"
