.profile-image
  width auto !important
  height 7.5rem !important

.profile-name
  font-weight 200
  font-size 3rem
  margin-bottom 0

.profile-caption
  font-size 20px !important

  i
    vertical-align sub

.profile-avatar
  font-size 7.5rem
  color rgba(0,0,0,0.54)