<md-content class="sidebar md-whiteframe-6dp" flex="33"  ng-controller="BadCtrl as badCtrl">
  <logo-login-bar></logo-login-bar>

  <div class="top-profile" layout-padding>
    <img src="http://placehold.it/350x150">
    <div class="feature-box">
      <h1>Lukas Faber</h1>
    </div>
  </div>

  <section class="layout-align-center-center layout-row" ng-if="!badCtrl.isTripSelected()">
    <md-button class="md-primary" ng-disabled="true">add trip</md-button>
  </section>

  <md-list layout-padding ng-if="!badCtrl.isTripSelected()">
    <md-list-item ng-repeat="trip in badCtrl.getTrips()" ng-click="badCtrl.selectTrip($index)">
      <h1 class="story-title">{{ trip.destination.name }}</h1>
      <span class="story-dates">{{ trip.dates.start | date : "dd.MM.yyyy" }} - {{ trip.dates.end | date : "dd.MM.yyyy" }}</span>
    </md-list-item>
  </md-list>

  <story-view-editor ng-if="badCtrl.isTripSelected()"></story-view-editor>
</md-content>

<section>
</section>